<%- include('partials/head.ejs') %>
		<div class="offline">
			<p>The browser is not able to connect to a local area network (LAN) or a router</p>
		</div>
		<header>
			<nav>
				<a href="http://webdesign.test/">
					<video loop muted autoplay>
						<source src="images/header-blue.ogv" type="video/ogg">
						<source src="images/header-blue.mov" type="video/mov">
					</video>
				</a>
				<img src="<%= user.photos[0] %>" alt="spotify profile picture"/>
				<a href="/logout"><%= user.displayName %></a>
				<% if(!user.displayName) { %>
				<a href="/logout"><%= user.username %></a>
				<% } %>
			</nav>
		</header>

		<main class="contact">
			<!-- <% if (!user) { %>
			<nav class="login">
				<a href="/login">Login</a>
			</nav>
			<% } else { %> -->
			<div class="content">
				<%- include('partials/explanation.ejs') %>
				<%- include('partials/playlist.ejs') %>
			</div>
			<div class="overall"></div>


		<!-- <% } %> -->

		</main>
		<script>
			window.user = <%- JSON.stringify(user || null) %>;
		</script>
<%- include('partials/foot.ejs') %>
