<%- include('partials/head.ejs') %>

		<main>
			<% if (!user) { %>
			<div class="login">
				<a href="/login">Login</a>
			</div>
			<% } else { %>
			<div class="left">
				<h2>Hello <%= user.username %></h2>
				<h2>Get in touch!</h2>

				<form></form>

				<form action="/" method="post" enctype="application/json">
					<label for="song">Song:</label>
					<input id="song" type="text" name="song" placeholder="voeg jouw spotify nummer toe"/>
					<button type="submit">Voeg toe</button>
				</form>
				<% if (dataSongs !== undefined) { %>
				<% for (var i = 0; i < dataSongs.items.length; i++) { %>
				<ul>
						<img src="<%= dataSongs.items[i].album.images[1].url %>" alt=""/>
						<li><%= dataSongs.items[i].name %> - <%= dataSongs.items[i].artists[0].name %> </li>
						<p class="hide"><%= dataSongs.items[i].id %></p>
						<p class="hide"><%= dataSongs.items[i].artists[0].id %></p>
					<% if (dataSongs.items[i].preview_url !== null) { %>
						<a target="_blank" href="<%= dataSongs.items[i].preview_url %>">Link</a>
					<% } %>
						<form class="add" action="/" method="post" enctype="application/json">
							<input class="hide" name="value" value="<%= dataSongs.items[i].id %>"/>
							<button type="submit" class="add">Add</button>
						</form>
				</ul>
			 <% }} %>
			</div>
			<% }%>
			<div class="right">
				<ul></ul>
			</div>
		</main>

<%- include('partials/foot.ejs') %>
